.chapter {
    @extend %layout;
    @extend %layout--center;
}
    .chapter__header,
    .chapter__content,
    .chapter__meta,
    .chapter__articles,
    .chapter__footer {
        @extend %layout__item;
    }

    .chapter__header,
    .chapter__content,
    .chapter__meta,
    .chapter__footer {
        @include media-query('tablet') {
            width: $ten-twelfths;
        }

        @include media-query('tablet-hd') {
            width: $nine-twelfths;
        }
    }

    .chapter__header,
    .chapter__content,
    .chapter__footer {
        @include media-query('desk') {
            width: $eight-twelfths;
        }

        @include media-query('desk-hd') {
            width: $seven-twelfths;
        }
    }

    .chapter__header {
        margin-bottom: $spacing-unit;

        .heading {
            margin-top: 0;
        }
    }

    .chapter__content {
        padding-bottom: $spacing-unit;
        margin-bottom: $spacing-unit;
        position: relative;

        &:after {
            content: '';
            width: 50%;
            height: 2px;
            background: $color-ui;
            position: absolute;
            bottom:   0px;
            left: 50%;
            margin-left: -25%;
        }


        .chapter--full & {
            p:first-of-type {
                font-weight: 500;
            }
        }
    }
        .chapter__intro {

        }

    .chapter__share {
        text-align: center;
    }

    .chapter__articles {

    }
        .chapter__article {
            margin-bottom: $spacing-unit;

            &:last-child {
                margin-bottom: 0;
            }
        }

    .chapter__meta {
        margin-top: $spacing-unit--large;

        @include media-query('desk') {
            width: $three-twelfths;
            margin-left: $one-twelfth;
            margin-top: 0;
        }

        @include media-query('desk-hd') {
            width: $four-twelfths;
        }
    }
