/**
 * Settings
 */
@import "../_bower_components/inuit-defaults/settings.defaults";
@import "../_bower_components/inuit-responsive-settings/settings.responsive";
@import "settings.spacing-units";
@import "settings.responsive";
@import "settings.widths";
@import "settings.colors";

/**
 * Tools
 */
@import "../_bower_components/inuit-functions/tools.functions";
@import "../_bower_components/inuit-mixins/tools.mixins";
@import "../_bower_components/inuit-tools-widths/tools.widths";
@import "../_bower_components/inuit-responsive-tools/tools.responsive";
@import "tools.mixins";

/**
 * Generic
 */
@import "../_bower_components/inuit-normalize.css/generic.normalize";
@import "../_bower_components/inuit-reset/generic.reset";
@import "../_bower_components/inuit-box-sizing/generic.box-sizing";
@import "../_bower_components/inuit-shared/generic.shared";

/**
 * Base
 */
@import "../_bower_components/inuit-page/base.page";
@import "../_bower_components/inuit-headings/base.headings";
@import "../_bower_components/inuit-paragraphs/base.paragraphs";
@import "../_bower_components/inuit-images/base.images";
@import "../_bower_components/inuit-lists/base.lists";
@import "base.page";
@import "base.type";
h1 {
    margin: 0;
}

h5 {
    margin: $spacing-unit 0 $spacing-unit--micro 0;
}

.brand {
    color: $color-brand;
}

.strike {
    text-decoration: line-through;
}

/**
 * Objects
 */
$inuit-enable-layout--center: true;
@import "../_bower_components/inuit-layout/objects.layout";
$inuit-enable-list-inline--delimited: true;
@import "../_bower_components/inuit-list-inline/objects.list-inline";
@import "../_bower_components/inuit-list-block/objects.list-block";
$inuit-enable-table--cosy: true;
$inuit-enable-table--rows: true;
@import "../_bower_components/inuit-tables/objects.tables";
@import "objects.list-inline";
@import "objects.list-block";
@import "objects.wrappers";
table {
    @extend .table;
    @extend .table--rows;
    @extend .table--cosy;
    width: 100%;

    tbody tr:nth-child(2n - 1) {
        background: #eee;
    }

    @media screen and (max-width: 640px) {
        overflow-x: auto;
        display: block;
    }
}

.figure {
    border: 2px solid $color-ui;
    padding: $spacing-unit--micro;
    width: 100%;

    > img {
        width: 100%;
    }
}
    .figure__caption {
        @include font-size(12px, 1em);
        margin: $spacing-unit--micro 0 0;
        text-align: center;
    }

.video {
    border: 2px solid $color-ui;
    padding: $spacing-unit--micro;
    margin: $spacing-unit 0;
    width: 100%;
}
    .video__wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
/**
 * Components
 */
@import "components.chapter";
.icon {
    display: inline-block;
}
    .icon--btn-facebook,
    .icon--btn-twitter,
    .icon--btn-instagram {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
    }
    .icon--btn-facebook {
        background-image: url('/img/icons/btn-facebook@2x.png');
    }
    .icon--btn-twitter {
        background-image: url('/img/icons/btn-twitter@2x.png');
    }
    .icon--btn-instagram {
        background-image: url('/img/icons/btn-instagram@2x.png');
    }

.box {
    padding: $spacing-unit;

    p:last-child {
        margin-bottom: 0;
    }
}
    .box--bordered {
        border: 2px solid $color-ui;
    }
.page-header {}
    .page-header__top {
        padding: $spacing-unit--small;
        background: $color-grey--darkest;
    }
    .page-header__bottom {
        border-bottom: 1px solid $color-ui;
    }

.site-nav {
    margin: 0 auto;
    line-height: 41px;
    padding: 0;
    max-width: 650px;
}
    .site-nav--social {
        max-width: 125px;
        display: block;

        @include media-query('lap-and-up') {
            display: none;
        }
    }

    .site-nav__list {
        margin: 0;
        padding: 0;
        list-style: none;
        display: table;
        table-layout: fixed;
        width: 100%;
    }
        .site-nav__item {
            display: table-cell;
        }
            .site-nav__item--social {
                display: none;
                position: relative;
                top: $spacing-unit--micro;
                margin-left: $spacing-unit;

                @include media-query('lap-and-up') {
                    display: block;
                }

                .site-nav--social {
                    display: block;
                }
                .site-nav__item {
                    margin-right: $spacing-unit--tiny;
                }
            }

            .site-nav__link {
                display: inline-block;
                color: $color-text;

                &:hover {
                    color: $color-brand;
                }
            }

/**
 * Trumps
 */
$inuit-widths-columns: (12);
$inuit-enable-margins: true;
$inuit-enable-margins--none: true;
$inuit-enable-margins--large: true;
@import "../_bower_components/inuit-clearfix/trumps.clearfix";
@import "../_bower_components/inuit-spacing/trumps.spacing";
@import "../_bower_components/inuit-widths/trumps.widths";
@import "../_bower_components/inuit-headings-trumps/trumps.headings";

.u-c {
    text-align: center;
}

.u-hide-mobile {
    display: none;
    @include media-query('tablet') {
        display: initial;
    }
}

.u-hide-tablet {
    @include media-query('tablet') {
        display: none;
    }
}
