<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:600|Roboto:400,400italic,500|Roboto+Mono|Merriweather:400,400italic">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
        <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
        <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    </head>
    <body>
        <header class="page-header">
            <div class="page-header__top">
                <div class="wrapper u-c">
                    <a href="{{ "/" | prepend: site.baseurl }}">
                        <img src="/img/logo.png" width="68px" height="41px" alt="-1/+2">
                    </a>
                </div>
            </div>
            <div class="page-header__bottom">
                <div class="wrapper u-c">
                    <nav class="site-nav">
                        <ul class="site-nav__list">
                            <li class="site-nav__item">
                                <a href="{{ "/" | prepend: site.baseurl }}" class="site-nav__link">
                                    Home
                                </a>
                            </li>
                            <li class="site-nav__item">
                                <a href="{{ "/bike" | prepend: site.baseurl }}" class="site-nav__link">
                                    Bike
                                </a>
                            </li>
                            <li class="site-nav__item">
                                <a href="{{ "/gear" | prepend: site.baseurl }}" class="site-nav__link">
                                    Gear
                                </a>
                            </li>
                            <li class="site-nav__item">
                                <a href="{{ site.twitter_username | prepend: 'https://twitter.com/' }}" class="site-nav__link">
                                    Twitter
                                </a>
                            </li>
                            <li class="site-nav__item">
                                <a href="{{ site.facebook_username | prepend: 'https://facebook.com/' }}" class="site-nav__link">
                                    Facebook
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="wrapper u-mt+ u-mb+">
            {{ content }}
        </div>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-74461938-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>
