---
layout: default
---
<section class="chapter chapter--full"><!--
    --><header class="chapter__header">
        <h1 class="heading kilo">{{ page.title }}</h1>
        <ul class="list-inline list-inline--slash-delimited">
            <li>{{ page.date | date: "%b %-d, %Y" }}
            {% if page.meta %}<li>{{ page.meta }}</li>{% endif %}
        </ul>
    </header><!--

    --><div class="chapter__content">
        {% if page.hero %}
            {% include components/figure.html src=page.hero caption=page.hero_caption %}
        {% endif %}

        {{ content }}
    </div><!--

    --><footer class="chapter__footer">
        <div class="chapter__share">

            {% assign share_js = "javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" %}
            {% assign share_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
            {% capture share_title %}I just read {{ page.title }} on {{ site.url }}. Check it out!{% endcapture %}

            <h6>Like what you just read?</h6>
            <p>
                Share this article on
                <a
                    href="http://www.facebook.com/sharer/sharer.php?u={{ share_url }}&text={{ share_title }}"
                    onclick="{{ share_js }}"
                    target="_blank" 
                    title="Share on Facebook"
                >
                    Facebook
                </a> and/or
                <a
                    href="https://twitter.com/intent/tweet?url={{ share_url }}&via={{ site.twitter_username }}&text={{ share_title }}"
                    onclick="{{ share_js }}"
                    target="_blank"
                    title="Share on Twitter"
                    >Twitter</a>.
            </p>
            <p>
                <a
                    href="{{ site.facebook_username | prepend: 'https://facebook.com/' }}"
                    target="_blank" 
                >Like us on Facebook</a> and/or <a
                    href="{{ site.twitter_username | prepend: 'https://twitter.com/' }}"
                    target="_blank"
                    >follow us on Twitter</a>.
            </p>
            <p class="u-mb0">It helps <em>a lot</em>!</p>
        </div>

        <div class="layout"><!--
            --><div class="chapter__continue chapter__continue--previous layout__item u-6/12">
                {% if page.previous.url %}
                    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="chapter__continue__link">
                        <h6 class="chapter__continue__subheading">Previous post</h6>
                        <h5 class="gamma">{{ page.previous.title }}</h5>
                    </a>
                {% endif %}
            </div><!--

            --><div class="[ chapter__continue chapter__continue--next ][ layout__item u-6/12 ]">
                {% if page.next.url %}
                    <a href="{{ page.next.url | prepend: site.baseurl }}" class="chapter__continue__link">
                        <h6 class="chapter__continue__subheading">Next post</h6>
                        <h5 class="gamma">{{ page.next.title }}</h5>
                    </a>
                {% endif %}
            </div><!--
        --></div>

    </footer><!--
--></section>
